
.bxb-aboutus-container{
   padding-top: 0.94rem;
}
.bxb-aboutus-box {
    width: 100vw;
    height: 100vh;
    background: url(../assets/aboutus/icon_about_bg.png);
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-box-img {
    width: 70vw;
    margin-top: 300px;
}


@media (min-width: 750px) {
    .bxb-aboutus-container {
        padding-top: 94px;
    }
    
}

