.bxb-resetpass-box {
    padding-top: 0.94rem;
}

.resetpass-form {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    font-size: 0.3rem;
    background-color: #fff;
}

.form-cell-li {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5 ;
}

.form-cell-li-hd{
    width: 30%;
    
}
.form-cell-li-bd {
    width:80%;
}

.cell-li-element {
    width: 100%;
    border: none;
    outline: none;
    text-align:right;
    font-size: 0.3rem;
}

.verify-code-btn {
    margin-left: 5px;
    background: #4F83E9;
    color: #fff;
    font-size: 0.26rem;
    line-height: 0.7rem;
    border-radius: 0.1rem;
    border: none;
    outline: none;
}

