.bxb-setting-box {
    padding-top: 0.94rem;
    
}


.change-pass-box {
    background: #fff;
    width: 100%;
    padding:10px 25px;
    position: relative;   

}

.change-pass-box:hover {

    cursor: pointer;
}
.padding-10{
    position: relative;
   
}

.padding-10::after {
    content:"";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style:solid;
    transform: matrix(.71,.71,-.71,.71,0,0);
    position:absolute;
    top:50%;
    margin-top: -4px;
    right: 20px;
}

.padding-10 p {
    font-size: 0.3rem;
    align-items: center;
}


@media (min-width: 750px) {
    .bxb-setting-box {
        padding-top: 94px;
        
    }
    
    
}